@import url(../fonts/bebasneue/bebasneue.css);
@import url(../fonts/montserrat/montserrat.css);
body {
  font-size: 24px;
  line-height: 1.2em;
  font-family: "Montserrat", serif;
  background-color: #2c2c2c;
  color: #ffffff;
  font-weight: 300;
  margin: 0;
  padding: 0;
  border: 0;
}

.menu {
  width: 100%;
  font-size: 1.2em;
  font-weight: 300;
  text-align: center;
  background-color: #aaaaaa;
  padding: 10px 0;
}

.call-to-action-button {
  display: block;
  width: 60%;
  max-width: 1000px;
  font-size: 1em;
  font-family: "Bebas Neue";
  font-weight: bold;
  background-color: #dca520;
  border: 0;
  outline: 0;
  border-radius: 8px;
  margin: 0 auto 48px;
  padding: 10px 0;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.call-to-action-button:hover {
  background-color: #d3b266;
}

@media screen and (max-width: 900px) {
  body {
    font-size: 20px;
  }
  .call-to-action-button {
    width: 70%;
    margin: 0 auto 48px;
  }
}

.aboutUsPage h1 {
  font-family: "Bebas Neue";
  text-transform: uppercase;
  font-size: 48px;
  padding-top: 50px;
  padding-bottom: 5px;
  padding-left: 10%;
  color: #2c2c2c;
  background-color: #ffffff;
  font-weight: bold;
}

.aboutUsPage .banner {
  width: 70%;
  max-width: 1000px;
  margin: 50px auto;
  padding: 50px;
  background-color: #dca520;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.aboutUsPage .banner .call-to-action-button {
  width: 80%;
  background-color: #2c2c2c;
  color: #ffffff;
  margin-top: 50px;
  margin-bottom: 0;
}

.aboutUsPage .banner .call-to-action-button:hover {
  background-color: #414141;
}

.aboutUsPage .timeline-title {
  font-family: "Bebas Neue";
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}

.aboutUsPage .timeline-section {
  position: absolute;
  top: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 70%;
  max-width: 1500px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.aboutUsPage .timeline-section .hor-line {
  width: 100%;
  height: 7px;
  background-color: #ffffff;
  position: relative;
}

.aboutUsPage .timeline-section .past-timeline {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
  left: 0;
  bottom: -30px;
}

.aboutUsPage .timeline-section .present-timeline {
  position: absolute;
  right: 0;
  bottom: -30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.aboutUsPage .full-time-section {
  position: relative;
}

.aboutUsPage .swiper-container {
  width: 100%;
  padding-top: 150px;
  padding-bottom: 60px;
}

.aboutUsPage .two .swiper-slide {
  width: 40%;
  min-width: 200px;
  background-color: #ffffff;
  padding: 25px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.aboutUsPage .two .swiper-slide .banner-alert-slide {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  width: 100%;
  height: 50px;
  top: -50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #dca520;
  -webkit-animation: slideAlert 1s infinite linear;
          animation: slideAlert 1s infinite linear;
}

.aboutUsPage .two .swiper-slide .card-time {
  -ms-flex-item-align: end;
      align-self: flex-end;
  background-color: #2c2c2c;
  font-weight: bold;
  font-family: "Bebas Neue";
  line-height: 1;
  padding: 10px;
  margin-top: -15px;
  margin-right: -40px;
}

.aboutUsPage .two .swiper-slide .card-title {
  color: #2c2c2c;
  font-family: "Bebas Neue";
  font-size: 32px;
  font-weight: bold;
  margin-top: 25px;
}

.aboutUsPage .two .swiper-slide .card-text {
  margin-top: 10px;
  color: #2c2c2c;
  text-align: center;
  font-size: 18px;
  line-height: 1.2;
}

.aboutUsPage .two .swiper-slide .card-image {
  margin-top: 25px;
  width: 100%;
  height: auto;
}

.aboutUsPage .swiper-container-horizontal > .swiper-pagination-bullets,
.aboutUsPage .swiper-pagination-custom,
.aboutUsPage .swiper-pagination-fraction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  bottom: auto;
  top: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 70%;
  max-width: 1500px;
}

.aboutUsPage .swiper-pagination-bullet {
  margin: 0;
  outline: 0;
  position: relative;
  background-color: #ffffff;
  border-radius: 0;
  opacity: 1;
  height: 30px;
  width: 5px;
}

.aboutUsPage .swiper-pagination-bullet:first-child {
  -webkit-transform: translate(-5px, -10px);
          transform: translate(-5px, -10px);
  width: 5px;
  height: 50px;
  background-color: #ffffff;
}

.aboutUsPage .swiper-pagination-bullet:last-child {
  -webkit-transform: translate(4px, 2px) rotate(45deg);
          transform: translate(4px, 2px) rotate(45deg);
  background-color: transparent;
  border-right: 5px solid #ffffff;
  border-top: 5px solid #ffffff;
  width: 20px;
  height: 20px;
}

.aboutUsPage .swiper-pagination-bullet-active::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-animation: fadeIn 0.5s ease-in-out;
          animation: fadeIn 0.5s ease-in-out;
  background-color: #dca520;
}

.aboutUsPage .white-section {
  background-color: #ffffff;
  color: #2c2c2c;
  padding: 50px;
}

.aboutUsPage .white-section .white-wrapper {
  width: 70%;
  max-width: 1000px;
  margin: 0 auto;
}

.aboutUsPage .white-section .call-to-action-button {
  width: 70%;
  margin-top: 50px;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes slideAlert {
  0% {
    background-color: #dca520;
  }
  50% {
    background-color: #d3b266;
  }
  100% {
    background-color: #dca520;
  }
}

@keyframes slideAlert {
  0% {
    background-color: #dca520;
  }
  50% {
    background-color: #d3b266;
  }
  100% {
    background-color: #dca520;
  }
}

@media screen and (max-width: 900px) {
  .aboutUsPage h1, .aboutUsPage .timeline-title {
    font-size: 1.5em;
  }
  .aboutUsPage .banner {
    padding: 25px;
  }
  .aboutUsPage .two .swiper-slide {
    padding: 12px 25px;
  }
  .aboutUsPage .two .swiper-slide .banner-alert-slide {
    font-size: .7em;
    height: 30px;
    top: -30px;
  }
  .aboutUsPage .two .swiper-slide .card-time {
    margin-top: -8px;
    margin-right: -20px;
    padding: 5px;
  }
  .aboutUsPage .white-section {
    padding: 25px;
  }
}
/*# sourceMappingURL=style-about.css.map */